<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>New Inverter</h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                  </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Add New Inverter <small>add inerter details</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="">Settings 1</a>
                  </li>
                  <li><a href="">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">

            <form class="form-horizontal form-label-left" name="newInverterForm" novalidate ng-submit="addNewInverter(newInverter)">

              <p>Have a new inverter in your grid? Add its details here.</p>
              <span class="section">New Inverter Form</span>

              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Company Id <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input id="company_id" class="form-control col-md-7 col-xs-12" name="company_id" placeholder="Company id" required="required" type="number" ng-model="newInverter.company_id">
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Serial Number <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="number" id="number" name="serial_no" placeholder="Inverter Serial Number" required="required" class="form-control col-md-7 col-xs-12" ng-model="newInverter.serial_no">
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Commissioning Date <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" id="comm_date" name="comm_date" placeholder="Inverter Commissioning Date" required="required" class="form-control col-md-7 col-xs-12" ng-model="newInverter.comm_date">
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">Firmware Version <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" id="firmware_version" name="firmware_version" placeholder="Inverter firmware version" required="required" class="form-control col-md-7 col-xs-12" ng-model="newInverter.firmware_version">
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="website">Last Firmware Update Date <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" id="firmware_update" name="firmware_update" required="required" placeholder="inverter firmware update date" class="form-control col-md-7 col-xs-12" ng-model="newInverter.firmware_update">
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="occupation">Inverter Site Location <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input id="location" type="text" name="location"  placeholder="Inverter site location" required="required" class="optional form-control col-md-7 col-xs-12" ng-model="newInverter.location">
                </div>
              </div>
              <div class="item form-group">
                <label for="password" class="control-label col-md-3">Inverter Ip Address <span class="required">*</span></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input id="ip" type="text" name="ip" placeholder="inverter ip address" required="required" class="form-control col-md-7 col-xs-12" ng-model="newInverter.ip">
                </div>
              </div>
              <div class="item form-group">
                <label for="password2" class="control-label col-md-3 col-sm-3 col-xs-12">FTP Username <span class="required">*</span></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input id="username" type="text" name="username" placeholder="FTP username" class="form-control col-md-7 col-xs-12" required="required" ng-model="newInverter.username">
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">Password <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="password" id="password" name="password" required="required" class="form-control col-md-7 col-xs-12" ng-model="newInverter.password">
                </div>
              </div>
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                  <button class="btn btn-primary">Cancel</button>
                  <button id="send" type="submit" class="btn btn-success" ng-disabled="newInverterForm.$invalid">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
