<!-- page content -->
<div class="right_col" role="main" ng-init="getModuleData()">
<!-- 
{{graph_details.selected_attribute}}
<br>
{{selected_modules}}
<br>
{{data}}
<br>-->
Start and end Dates {{startDate}}, {{endDate}}
<!--<br>
Temp {{temp}}
<br>
Temp2 {{temp2}} -->
  <!-- Main Graph -->
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title row">
          <div class="col-md-6">
            <h2>{{graph_details.selected_attribute}}<small>view details</small></h2>
          </div>
          <div class="col-md-6">
            <div class="filter">
              <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="col-md-1" ng-hide="dataQuerying">
            <div>
              <md-radio-group ng-model="graph_details.selected_attribute">
                <div style="margin-top: 5px; padding-bottom: 20px"><span>Select Attribute to Display</span></div>
                <div ng-repeat="attribute in all_attributes">
                  <md-radio-button value="{{attribute.value}}" class="md-primary" ng-click="chooseAttribute(attribute.value)" ng-disabled="{{attribute.btn_disable}}">{{attribute.name}}</md-radio-button>
                </div>
              </md-radio-group>
            </div>
            <div>
              <div style="margin-top: 5px; padding-bottom: 20px; padding-top: 30px"><span>Select Modules to Display</span></div>
              <div ng-repeat="module in all_modules">
                <md-checkbox ng-checked="exists(module.value)" ng-click="toggle(module.value)" class="md-primary">
                  {{ module.name }}
                </md-checkbox>
              </div>
            </div>
          </div>

          <!--<canvas id="dashboard_chart"></canvas>-->
          <div class="col-md-11">
            <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />

  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12" ng-repeat="module in allEvents">
      <div class="x_panel">
        <div class="x_title">
          <h2>Module {{$index + 1}}<small>Event Log</small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="">Settings 1</a>
                </li>
                <li><a href="">Settings 2</a>
                </li>
              </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="dashboard-widget-content">

            <ul class="list-unstyled timeline widget">

              <li ng-repeat="event in module">
                <div class="block">
                  <div class="block_content">
                    <h2 class="title">{{event.Message}}</h2>
                    <div class="byline">
                      <span>{{event.Date}}</span> , <span>{{event.Time}}</span>
                    </div>
                    <p class="excerpt" ng-show="event.Event == 0">Error occured</p>
                    <p class="excerpt" ng-show="event.Event == 2">Error resolved</p>
                  </div>
                </div>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->

