<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Payments</h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      
      <div class="col-md-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Seller Details <small>add details of creditor</small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />
            </br>
            <form class="form-horizontal form-label-left">

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Beneficiary Name</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" placeholder="Name" ng-model="tc.sellerDetails.Ben_Name">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Beneficiary Account No.</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="number" class="form-control" placeholder="Account Number" ng-model="tc.sellerDetails.Ben_Acct_No">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Beneficiary Mobile No.</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="number" class="form-control" placeholder="Mobile Number" ng-model="tc.sellerDetails.Ben_Mobile">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Beneficiary Email Id</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="email" class="form-control" placeholder="Email Id" ng-model="tc.sellerDetails.Ben_Email">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Beneficiary Address</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" placeholder="Address" ng-model="tc.sellerDetails.Ben_Address">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Beneficiary IFSC</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" placeholder="IFSC Code" ng-model="tc.sellerDetails.Ben_IFSC">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Beneficiary Bank Name</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" placeholder="Bank Name" ng-model="tc.sellerDetails.Ben_BankName">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Beneficiary Bank Cd</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" placeholder="Bank Code" ng-model="tc.sellerDetails.Ben_BankCd">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Beneficiary Branch Cd</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" placeholder="Branch Code" ng-model="tc.sellerDetails.Ben_BranchCd">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Beneficiary Transaction Particulars</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" placeholder="Transaction Particulars" ng-model="tc.sellerDetails.Ben_TrnParticulars">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Beneficiary Transaction Remarks</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" placeholder="Remarks" ng-model="tc.sellerDetails.Ben_PartTrnRmks">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Mode of Payment</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" placeholder="Mode of payment" ng-model="tc.sellerDetails.Mode_of_Pay">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Beneficiary Mobile No.</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" placeholder="Remarks" ng-model="tc.sellerDetails.Remarks">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Amount</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="number" class="form-control" placeholder="Amount to Transfer" ng-model="tc.sellerDetails.Amount">
                </div>
              </div>
              
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                  <button type="reset" class="btn btn-primary" ng-click="tc.sellerDetailsResetClick()">Reset</button>
                  <button type="submit" class="btn btn-success" ng-click="tc.getOTP(1)">Get OTP</button>
                  </br></br>
                  <div class="input-group">
                    <span class="input-group-btn">
                                      <button type="button" class="btn btn-primary">Go!</button>
                                  </span>
                    <input type="text" class="form-control" placeholder="Enter OTP">
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>


      <div class="col-md-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Buyer Details <small>add details of debitors</small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />
            <form class="form-horizontal form-label-left">

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Debit Name</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" placeholder="Name" ng-model="tc.buyerDetails.Debit_Acct_Name">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Debit Account No.</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="number" class="form-control" placeholder="Account Number" ng-model="tc.buyerDetails.Debit_Acct_No">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Debit Mobile No.</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="number" class="form-control" placeholder="Mobile Number" ng-model="tc.buyerDetails.Debit_Mobile">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Debit IFSC</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" placeholder="IFSC Code" ng-model="tc.buyerDetails.Debit_IFSC">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Debit Transaction Particulars</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" placeholder="Transaction Particulars" ng-model="tc.buyerDetails.Debit_TrnParticulars">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Debit Transaction Remarks</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" placeholder="Remarks" ng-model="tc.buyerDetails.Debit_PartTrnRmks">
                </div>
              </div>

              <div class="ln_solid"></div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Select Goods</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <select class="form-control">
                    <option>Select Commodity</option>
                    <option>Grains</option>
                    <option>Fruits</option>
                    <option>Vegetables</option>
                    <option>Clothes</option>
                    <option>Shoes</option>
                    <option>Electronics</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Quantity</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" placeholder="Enter Quantity"">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Rate</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" placeholder="Enter Rate"">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <button class="btn">Add / Add Another</button>
                </div>
              </div>
              
              
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                  <button class="btn btn-primary">Reset</button>
                  <button class="btn btn-success" ng-click="tc.getOTP(0)">Get OTP</button>
                  </br></br>
                  <div class="input-group">
                    <span class="input-group-btn">
                                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Go!</button>
                                  </span>
                    <input type="text" class="form-control" placeholder="Enter OTP">
                  </div>
                </div>
              </div>

              <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">

                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                      </button>
                      <h4 class="modal-title" id="myModalLabel2">Transaction Completed</h4>
                    </div>
                    <div class="modal-body">
                      <h4>Complete!</h4>
                      <p>Your transaction has been completed from {{tc.sellerDetails.Ben_Name}} to {{tc.buyerDetails.Debit_Acct_Name}}.</p>
                      <p>The amount for the transaction was {{tc.sellerDetails.Amount}}</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                      <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="tc.completeTransaction()">OK</button>
                    </div>

                  </div>
                </div>
              </div>
              <!-- /modals -->

            </form>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
<!-- /page content -->